   


  
  news_section

element.style {
}



.news_section{ background:#609513; min-height: 40px;}




/*News Section CSS Start*/
.news_section section{color: #fff; font-size: 18px; font-weight: bold;  min-height: 0; padding: 10px;}
.news_section marquee{ color:#222222;}
.news_section a{ color: #fff;}
/*News Section CSS End*/



#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:33%;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:33%;
}

#right {
    float:right;
    width:33%;
}

p{
	text-align: center;
	font-family:Times New Roman;
	color: red;
	font-weight: bold;
}
caption {
	-moz-box-shadow: 0px 0px 14px 1px #3dc21b;
	-webkit-box-shadow: 0px 0px 14px 1px #3dc21b;
	box-shadow: 0px 0px 14px 1px #3dc21b;
	background-color:transparent;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #18ab29;
	cursor:none;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:10px;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px 0px 7px red;
	font-weight: bold;
	font-size: 2.1em;
	color:red;
	
}


textarea {
    text-align:center;
    -moz-box-shadow: 0px 0px 14px 1px #3dc21b;
	-webkit-box-shadow: 0px 0px 14px 1px #3dc21b;
	box-shadow: 0px 0px 14px 1px #3dc21b;
	background-color:transparent;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:15px;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px 0px 7px #101be3;
	display: ;
  
}

button {
	-moz-box-shadow: 0px 0px 14px 1px #3dc21b;
	-webkit-box-shadow: 0px 0px 14px 1px #3dc21b;
	box-shadow: 0px 0px 14px 2px yellow;
	background-color:transparent;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:15px;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px 0px 7px red;
}

.myButton:hover {
	background-color:transparent;
}

.myButton:active {
	position:relative;
	top:1px;
}





.myTableBggirls { 
	width: 100%;
	text-align: center;
	background: white url(/uploads/girls.gif) repeat;
	border-collapse: collapse;
}

.myTableBggirls td {
	border-width: 1.5px;
	font-size:20px;
	border-top:2px inset #00ffec;
	border-right:2px inset #028d35;
	border-bottom:2px inset #f6007c;
	border-left:2px inset #842ece;


	-----other style-----

	border-width:2px 2px 2px 2px;
	border-style:inset inset inset inset;
	border-color:#00ffec #028d35 #f6007c #842ece;
	
}
 

.myTableBggirls th { 
	border-width: 3px;
	padding: 1px;
	border-style: dotted;
	border-color: black;
	font-family: ;
	color: blue;
}


.myTableBggirls {
	border-width: 1px;
	border-spacing: 6px;
	border-style: solid;
	border-color: red;
	border-collapse: separate;
	background-color: ;
}



.myTableBggirls textarea {
	font-family:Palatino Linotype ;
	color: white;
	font-size:25px;
	background-color: ;
	-moz-border-radius: ;
}

.myTableBgboys { 
	width: 100%;
	text-align: center;
	background: white url(/uploads/boys.jpg) repeat;
	border-collapse: collapse;
}

.myTableBgboys td {
	border-width: 1.5px;
	font-size:20px;
	border-top:2px inset #00ffec;
	border-right:2px inset #028d35;
	border-bottom:2px inset #f6007c;
	border-left:2px inset #842ece;


	-----other style-----

	border-width:2px 2px 2px 2px;
	border-style:inset inset inset inset;
	border-color:#00ffec #028d35 #f6007c #842ece;
	
}
 

.myTableBgboys th { 
	border-width: 3px;
	padding: 1px;
	border-style: dotted;
	border-color: black;
	font-family: ;
	color: blue;
}


.myTableBgboys {
	border-width: 1px;
	border-spacing: 6px;
	border-style: solid;
	border-color: red;
	border-collapse: separate;
	background-color: ;
}


.myTableBgboys textarea {
	font-family:Palatino Linotype ;
	color: white;
	font-size:25px;
	background-color: ;
	-moz-border-radius: ;
}

	
	
	
	
	
	
.myTableBgwithoutgang { 
	width: 100%;
	text-align: center;
	background: white url(/uploads/withoutgang.png) repeat;
	border-collapse: collapse;
}

.myTableBgwithoutgang td {
	border-width: 1.5px;
	font-size:20px;
	border-top:2px inset #00ffec;
	border-right:2px inset #028d35;
	border-bottom:2px inset #f6007c;
	border-left:2px inset #842ece;


	-----other style-----

	border-width:2px 2px 2px 2px;
	border-style:inset inset inset inset;
	border-color:#00ffec #028d35 #f6007c #842ece;
	
}
 

.myTableBgwithoutgang th { 
	border-width: 3px;
	padding: 1px;
	border-style: dotted;
	border-color: black;
	font-family: ;
	color: blue;
}


.myTableBgwithoutgang {
	border-width: 1px;
	border-spacing: 6px;
	border-style: solid;
	border-color: red;
	border-collapse: separate;
	background-color: ;
}


.myTableBgwithoutgang textarea {
	font-family:Palatino Linotype ;
	color: white;
	font-size:25px;
	background-color: ;
	-moz-border-radius: ;
}
